<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>My profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
    <script src="{{ asset('js/nav.js') }}"></script>
</head>

<body>
    {% block bodyProfile %}{% endblock %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">Home<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
                    <li><a href="{{ path('app_elasticsearch_search') }}">Search<span class="sub_icon glyphicon glyphicon-search"></span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
                {% elseif is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_elasticsearch_search') }}">Search<span class="sub_icon glyphicon glyphicon-search"></span></a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">My profile<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
                {% endif %}
            </ul>
        </div>



        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <!-- Template starting -->
        <hr>



    </div>
    </body>
</html>